.t-green:hover {
  text-shadow: 1px -1px 0 #5b8b6c, 1px 0 0 #5b8b6c, 1px 1px 0 #5b8b6c,
    0 1px 0 #5b8b6c, 0 -1px 0 #5b8b6c, -1px 1px 0 #5b8b6c, -1px 0 0 #5b8b6c,
    -1px -1px 0 #5b8b6c;
}

.t-green {
  color: #5b8b6c;
}

.t-yellow {
  color: #f4eca4;
}

.t-yellow:hover {
  text-shadow: 1px -1px 0 #f4eca4, 1px 0 0 #f4eca4, 1px 1px 0 #f4eca4,
    0 1px 0 #f4eca4, 0 -1px 0 #f4eca4, -1px 1px 0 #f4eca4, -1px 0 0 #f4eca4,
    -1px -1px 0 #f4eca4;
}

.t-purple {
  color: #7f519d;
}

.t-purple:hover {
  text-shadow: 1px -1px 0 #7f519d, 1px 0 0 #7f519d, 1px 1px 0 #7f519d,
    0 1px 0 #7f519d, 0 -1px 0 #7f519d, -1px 1px 0 #7f519d, -1px 0 0 #7f519d,
    -1px -1px 0 #7f519d;
}
