::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background:rgb(217, 234, 211); */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
