.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.monument {
  font-family: "MonumentRegular";
  font-size: 2.5rem;
}

.navlink {
  font-family: "MonumentRegular";
  font-size: 1rem;
}

/*
color: rgba(65,8,7,.1);
font: 6.9rem/.85 Monument Extended;
margin-left: -1rem;
margin-bottom: 3.5rem;
margin-top: 3.5rem;
-webkit-transform: scaleX(1.15);
transform: scaleX(1.15);
-webkit-text-fill-color: transparent;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #410807; */

@supports ((text-stroke: 1.1px black) or (-webkit-text-stroke: 1.1px black)) {
  .monument {
    color: transparent;
    -webkit-text-stroke: 1.1px black;
    text-stroke: 1.1px black;
    text-shadow: none;
    transition: color 0.25s ease-in-out;
  }

  .monument:hover {
    color: black;
    transition: color 0.25s ease-in-out;
  }
}

@font-face {
  font-family: "MonumentRegular";
  src: url("./utils/fonts/MonumentExtended-Regular.ttf");
}

@font-face {
  font-family: "Syne-Bold";
  src: url("./utils/fonts/Syne-Bold.otf");
}

@font-face {
  font-family: "PolyRegular";
  src: url("./utils/fonts/Poly-Regular.ttf");
}

.App-link {
  /* color: #61dafb; */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background:rgb(217, 234, 211); */
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f93700;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
